body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  padding-top: 60px;
}


header {
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.navbar-brand {
  font-weight: bold;
  color: #343a40 !important;
}

.navbar-nav .nav-link {
  color: #343a40 !important;
}

.my-container {
  background-position: center;
  background-size: cover;
  background-image: url(..//images/Earth.jpg);
  padding: 50px;
  height: 80vh;
  box-sizing: border-box;

}

.text-white {
  text-shadow: 5px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: "Inconsolata", sans-serif;
}

.special-character {
  bottom: 10px;
  left: 10px;
  font-size: 2rem;
  color: white;
}





blockquote{
  padding-bottom: 80px;
  font-size: 18px;
}

blockquote::before{
  content: open-quote;
}

blockquote::after{
  content: close-quote;
}
